
{% extends "templates/base.html" %}
{% load static %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

{% block page_content %}

<h2>Sourcing Module, Settings</h2>
<h4><em>{{ datamodel.get_class_name }}</em> data model</h4>

<div>

	<div style="padding:15px; float:right"> 
	<a href="{% url 'sourcing_datamodel_add' name=datamodel.get_class_name %}" class="btn btn-primary">
	Manually Add
	</a>
	<a href="{% url 'sourcing_datamodel_add' name=datamodel.get_class_name %}" class="btn btn-secondary">
	Load From CSV
	</a>
	</div>
	
	<div class="table-striped table-hover table-responsive">
	  <table class="table">
		<thead>
		  <tr>
		  {% for field in datamodel.get_fields %}
			<th>{{ field.verbose_name }}</th>
		  {% endfor %}
		  <th></th>
		  </tr>
		</thead>
		<tbody>
			{% for obj,row in objects %}
				<tr>
					{% for val in row %}
						<td>{{ val | truncatechars:80 }}</td>
					{% endfor %}
					<td>
						<a href="{% url 'sourcing_datamodel_view' name=datamodel.get_class_name pk=obj.pk %}" class="btn btn-secondary">
						Edit
						</a>
					</td>
				</tr>
			{% endfor %}
		<tbody>
	  </table>
	</div>
  </div>

{% endblock %}

