{% extends "templates/base.html" %}
{% load static %}

{% block page_content %}

<style>
	table {width: 100%;}
	select {width: 100%;}
	textarea {width: 100%;}
	input {width: 100%;}
</style>

<form id="id_parsing_form" action="{% url 'extract_parse' pk=extract.pk %}" method="post">

{% csrf_token %}

{{ formset.management_form }}

<div>
	<h2>
	Checking out extract for parsing
	<div style="float:right">
		<a class="btn btn-warning" href="{% url 'extract_release' extract.pk %}">
		Release
		</a>
		<button type="submit" class="btn btn-primary" name="finish" value="no">
		Save
		</button>
		<button type="submit" class="btn btn-primary" name="finish" value="yes">
		Finish
		</button>
	</div>
	</h2>
	
	<hr>

	{% if messages %}
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
				<div class="alert alert-success" style="width:100%">
					<p style="display:inline-block; width:100%">
					Success: {{ message }}
					</p>
				</div>
			{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
				<div class="alert alert-danger" style="width:100%">
					<p style="display:inline-block; width:100%">
					Error: {{ message }}
					</p>
				</div>
			{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
				<div class="alert alert-warning" style="width:100%">
					<p style="display:inline-block; width:100%">
					Warning: {{ message }}
					</p>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

	<div id="id_extract_viewer" style="width:100%">

		<h4>Extract:</h4>

		<table id="id_extract_info" style="margin-left:15px">
			<tr>
				<td style="width:15%">Extract ID: </td>
				<td>{{ extract.pk }}</td>
			</tr>
			<tr>
				<td>Source ID: </td>
				<td>{{ extract.source.pk }}</td>
			</tr>
			<tr>
				<td>Source URL: </td>
				<td><a href="{{ extract.source.source_url }}" target="_blank">{{ extract.source.source_url }}</a></td>
			</tr>
			<tr>
				<td style="width:15%; vertical-align:top; padding:10px">
					<img src="https://image.flaticon.com/icons/png/512/9/9381.png" height="60px">
				</td>
				<td style="vertical-align:top; padding:10px 0px">{{ extract.text }}</td>
			</tr>
		</table>
	</div>

	<hr>

	<div id="id_parsing_viewer" style="width:100%; vertical-align:top">

			<h4>Activities ({{ formset.queryset.count }}):</h4>

			<div id="id_parsing_errors" style="color:red">
				{{ formset.non_form_errors }}
			</div>

			<div id="id_activities_container" class="form-group">
				
				<table id="id_table_of_activities" style="margin-left:2%; width:98%">
				
				{% for form in formset %}
				
					<tr class="formsetform" style="vertical-align:top">
						
						<td>
							<div style="display:table">
							<h2 class="formset_title" style="display:table-cell; vertical-align:middle">{{ forloop.counter }}</h2>
							<img src="https://static.thenounproject.com/png/1899450-200.png" height="35px" style="display:table-cell; vertical-align:middle; margin:20px 15px">
							</div>
						</td>
						
						<td>
				
							<table>
							
							<tr>
								<td style="width:20%">
									<hr>
								</td>
								<td>
								</td>
							</tr>
							
							<!--first hidden fields-->
							<tr>
							<td></td>
							<td>
							{% for hidden in form.hidden_fields %}
								{{ hidden }}
							{% endfor %}
							</td>
							</tr>
							
							<!--show non_field_errors-->
							<tr>
							<td></td>
							<td>
							{% if form.non_field_errors %}
								<div class="alert alert-danger">{{ form.non_field_errors }}</div>
							{% endif %}
							</td>
							</tr>

							<tr>
								<td style="vertical-align:top">
									Activity subcode(s): *
								</td>
								<td>
									{{ form.activity_subcodes }}
								</td>
							</tr>
							
							{% if form.activity_subcodes.errors %}
							<tr>
								<td></td>
								<td>
									<div class="alert alert-danger">{{ form.activity_subcodes.errors }}</div>
								</td>
							</tr>
							{% endif %}
							
							<tr>
								<td><br></td>
							</tr>
							
							<tr>
								<td style="vertical-align:top">
									Actor(s): *
								</td>
								<td>
									<!--necessary stuff for the actor formset-->
									{{ form.actor_formset.management_form }}
									
									<!--table containing rows for each actor form-->
									<table id="id_table_of_actors">
									
									<!--field labels on top-->
									<tr>
									{% for field in form.actor_formset.0.visible_fields %}
										<td>{{ field.label_tag }}</td>
									{% endfor %}
									</tr>
									
									<!--one row per actorform-->
									{% for actorform in form.actor_formset %}
										<tr class="actorformsetform">
										<!--first hidden fields-->
										{% for field in actorform.hidden_fields %}
											{{ field }}
										{% endfor %}
										<!--then field inputs-->
										{% for field in actorform.visible_fields %}
											<td>
											{{ field }}
											<!--then field errors-->
											{% if field.errors %}
												<div class="alert alert-danger">{{ field.errors }}</div>
											{% endif %}
											</td>
										{% endfor %}
										</tr>
									{% endfor %}
									</table>
									
								</td>
							</tr>
							
							<tr>
								<td><br></td>
							</tr>

							<tr>
								<td>
									{{ form.activity_date.label_tag }} *
								</td>
								<td>
									{{ form.activity_date }}
								</td>
							</tr>
							
							{% if form.activity_date.errors %}
							<tr>
								<td></td>
								<td>
									<div class="alert alert-danger">{{ form.activity_date.errors }}</div>
								</td>
							</tr>
							{% endif %}

							<tr>
								<td>
									{{ form.status_code.label_tag }} *
								</td>
								<td>
									{{ form.status_code }}
								</td>
							</tr>
							
							{% if form.status_code.errors %}
							<tr>
								<td></td>
								<td>
									<div class="alert alert-danger">{{ form.status_code.errors }}</div>
								</td>
							</tr>
							{% endif %}

							<tr>
								<td>
									{{ form.date_code.label_tag }} *
								</td>
								<td>
									{{ form.date_code }}
								</td>
							</tr>
							
							{% if form.date_code.errors %}
							<tr>
								<td></td>
								<td>
									<div class="alert alert-danger">{{ form.date_code.errors }}</div>
								</td>
							</tr>
							{% endif %}

							<tr>
								<td>
									{{ form.financial_code.label_tag }}
								</td>
								<td>
									{{ form.financial_code }}
								</td>
							</tr>
							
							{% if form.financial_code.errors %}
							<tr>
								<td></td>
								<td>
									<div class="alert alert-danger">{{ form.financial_code.errors }}</div>
								</td>
							</tr>
							{% endif %}

							<tr>
								<td>
									US {{ form.dollar_amount.label_tag }}
								</td>
								<td>
									{{ form.dollar_amount }}
								</td>
							</tr>
							
							{% if form.dollar_amount.errors %}
							<tr>
								<td></td>
								<td>
									<div class="alert alert-danger">{{ form.dollar_amount.errors }}</div>
								</td>
							</tr>
							{% endif %}

							<tr>
								<td>
									{{ form.locations.label_tag }}
								</td>
								<td>
									{{ form.locations }}
								</td>
							</tr>
							
							{% if form.locations.errors %}
							<tr>
								<td></td>
								<td>
									<div class="alert alert-danger">{{ form.locations.errors }}</div>
								</td>
							</tr>
							{% endif %}

							<tr>
								<td>
									{{ form.parser_notes.label_tag }}
								</td>
								<td>
									{{ form.parser_notes }}
								</td>
							</tr>
							
							{% if form.parser_notes.errors %}
							<tr>
								<td></td>
								<td>
									<div class="alert alert-danger">{{ form.parser_notes.errors }}</div>
								</td>
							</tr>
							{% endif %}

							</table>
						</td>
						
						<td>
							{{ form.DELETE.label_tag }} {{ form.DELETE }}
						</td>
						
					</tr>
					
				{% endfor %}
				</table>
			</div>
			
			<hr>
			
			<div style="text-align:center">
				<button id="id_add_form" class="btn btn-secondary">+</button>
			</div>

			<script>
				let form = document.querySelectorAll(".formsetform")
				let container = document.querySelector("#id_table_of_activities")
				let addButton = document.querySelector("#id_add_form")
				//let addFormBefore = document.querySelector("#id_add_form_here")
				let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

				let formNum = form.length-1
				addButton.addEventListener('click', addForm)

				function addForm(e){
					e.preventDefault()

					let newForm = form[form.length-1].cloneNode(true)
					let formRegex = RegExp(`form-(\\d){1}-`,'g')

					formNum++
					newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
					let formTitle = newForm.getElementsByClassName('formset_title')[0];
					formTitle.textContent = `${formNum+1}`;
					
					//container.insertBefore(newForm, null); //, addFormBefore)
					container.appendChild(newForm);
					//newTextArea = document.getElementById('id_form-'+formNum+'-text');
					//newTextArea.textContent = '';

					totalForms.setAttribute('value', `${formNum+1}`)
				}
			</script>
			
	</div>
</form>

{% endblock %}