
{% extends "templates/base.html" %}
{% load static %}
{% block page_content %}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<h2>Import New HTML Sources</h2>
<hr>
<div>
	<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
		<h5>
			<!--Change the button urls later to accurately reflect their functions-->
			Browse your local computer for a data file (.csv) to upload.
				<!--Fix this later so the path shows here in light grey once selected-->
			<br>
			<br>

			<input type="file" name="importdocument" accept=".csv" required>
			<!--This only filters for .csv, but other docs can still be selected. A more robust method would not allow any other files to be selected.-->
			<br>
			<br>

			<input type="submit" id="test_button" class="btn btn-primary" formaction="{% url 'source_import_test' %}" value="Test">
			<!--This button is not clickable until a local file has been selected-->

			<a href="{% url 'sourcing' %}">
				<input type="button" id="cancel_button1" class="btn btn-warning" value="Cancel">
			</a>
			<!--This button is not clickable after the submit button has been selected-->
			
			<hr>
			
			{% if testresults %}
			
			Results of test import shown below.

			<br>
			<br>

			<!--Fix this later so the progress shows in light grey messages like "Row x skipped... Row y skipped... Import completed. ___ rows were skipped.-->
			
			<textarea id="test_window" cols="100" rows="15" style="color:grey; font-size:15px;" readonly>{{ testresults }}</textarea>

			<br>
			<br>

			<input type="submit" id="submit_button" class="btn btn-primary" formaction="{% url 'source_import' %}" value="Submit">
			<!--This button should only be visible after the submit button has been clicked and only be clickable after the import has completed-->
			<a href="{% url 'sourcing' %}">
				<input type="button" id="cancel_button2" class="btn btn-warning" value="Cancel">
			</a>
			<!--This button should only be visible and clickable after the submit button has been clicked-->

			{% else %}
			
			Once the test import starts, progress will show below.
			
			{% endif %}
		</h5>
	</form>
</div>


{% endblock %}
