
{% extends "templates/base.html" %}
{% load static %}
{% block page_content %}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<h2>Import New HTML Sources</h2>
<hr>
<div>
	<form action="{% url 'source_import' %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
		<h5>
			<!--Change the button urls later to accurately reflect their functions-->
			Browse your local computer for a data file (.csv) to upload.
				<!--Fix this later so the path shows here in light grey once selected-->
			<br>
			<br>

			<input type="file" name="importdocument" accept=".csv">
			<!--This only filters for .csv, but other docs can still be selected. A more robust method would not allow any other files to be selected.-->
			<br>
			<br>

			<input type="button" id="test_button" class="btn btn-primary" value="Test">
			<!--This button is not clickable until a local file has been selected-->

			<a href="{% url 'sourcing' %}">
				<input type="button" id="cancel_button1" class="btn btn-warning" value="Cancel">
			</a>
			<!--This button is not clickable after the submit button has been selected-->
			<hr>

			Once the test import starts, progress will show below.
			<!--Fix this later so the progress shows in light grey messages like "Row x skipped... Row y skipped... Import completed. ___ rows were skipped.-->
			<br>
			<br>

			<textarea id="test_window" cols="100" rows="15" style="color:grey; font-size:15px;" readonly hidden>Please wait until testing is complete before submitting data for import. Or cancel.
Running test...</textarea>

			<br>
			<br>

			<input type="submit" class="btn btn-primary" value="Submit" hidden disabled>
			<!--This button should only be visible after the submit button has been clicked and only be clickable after the import has completed-->
			<a href="{% url 'sourcing' %}">
				<input type="button" id="cancel_button2" class="btn btn-warning" value="Cancel" hidden>
			</a>
			<!--This button should only be visible and clickable after the submit button has been clicked-->
		</h5>
	</form>
</div>


<script type="text/javascript" language="javascript">
	$(document).ready(
	    function(){
	        $('#test_button').attr('disabled',true);
	        $('input:file').change(
	            function(){
	                if ($(this).val()){
	                    $('#test_button').removeAttr('disabled'); 
	                }
	                else {
	                    $('#test_button').attr('disabled',true);
	                }
	        $('#test_button').on('click',
	        	function(){
	        		$('#cancel_button1').attr('disabled',true);
	        		$('input:file').css('pointer-events','none');
	        		$('#test_button').attr('disabled',true);
	        		$('#test_window').removeAttr('hidden');
	        		$('input:submit').removeAttr('hidden');
	        		$('#cancel_button2').removeAttr('hidden');

	        		/* I'm putting this later so hopefully it only becomes clickable after the testing is finished? */
	        		$('input:submit').removeAttr('disabled');
	        	})
	        });
	    });
</script>

{% endblock %}
