
{% extends "templates/base.html" %}
{% load static %}
{% block page_content %}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<h2>Import New HTML Sources</h2>

<hr>

<div>
	<h5>
		<!--Change the button urls later to accurately reflect their functions-->
		Browse your local computer for a data file (.csv) to upload:
			<!--Fix this later so the path shows here in light grey once selected-->
		<br>
		<br>

		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<input type="file" name="importdocument" accept=".csv">
			<!--This only filters for .csv, but other docs can still be selected. A more robust method would not allow any other files to be selected.-->

			<br>
			<br>

			<input type="submit" class="btn btn-primary" value="Submit">
			<!--This button is not clickable until a local file has been selected-->

			<a href="{% url 'sourcing' %}">
				<input type="button" class="btn btn-warning" value="Cancel">
			</a>
			<!--This button is not clickable after the submit button has been selected-->

		</form>
	</h5>

	<hr>

	<h5>
		Once the import starts, progress will show below:
		<!--Fix this later so the progress shows in light grey messages like "Row x skipped... Row y skipped... Import completed. ___ rows were skipped.-->
		<br>
		<br>
		<a href="{% url 'sourcing' %}">
			<button type="button" class="btn btn-primary" hidden>
				Return to Sourcing
			</button>
		</a>
		<!--This button should only be visible after the submit button has been clicked and only be clickable after the import has completed-->
	</h5>

</div>

<script type="text/javascript" language="javascript">
	$(document).ready(
	    function(){
	        $('input:submit').attr('disabled',true);
	        $('input:file').change(
	            function(){
	                if ($(this).val()){
	                    $('input:submit').removeAttr('disabled'); 
	                }
	                else {
	                    $('input:submit').attr('disabled',true);
	                }
	        $('input:submit').on('click',
	        	function(){
	        		$('input:button').attr('disabled',true);
	        		$('button:button').removeAttr('hidden')
	        	})
	        });
	    });
</script>

{% endblock %}
