
{% extends "templates/base.html" %}
{% load static %}
{% load account %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

{% block page_content %}

<h2>
Your Profile
</h2>

<div style="margin-left:20px">

<img height="200px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" style="border-radius:50%; float:left; padding-right:50px">

<div>
	<table>
		{{ form.as_table }}
	</table>

	<a class="btn btn-secondary" href="logout">
	Logout?
	</a>
</div>

</div>
	
{% endblock %}
