
{% extends "templates/base.html" %}
{% load static %}
{% block page_content %}

<h2>Add New HTML Source</h2>

<div>

<form action="{% url 'source_add' %}" method="post">
    {% csrf_token %}	
	<div class="form-group">
	<table>
	
	<tr>
	<td>
    {{ form.source_code.label_tag }} *
	</td>
	<td>
	{{ form.source_code }}
	</td>
	</tr>

	<tr>
	<td>
    {{ form.source_url.label_tag }} *
	</td>
	<td>
	{{ form.source_url }}
	</td>
	</tr>
	
	<tr>
	<td>
    {{ form.source_date.label_tag }} *
	</td>
	<td>
	<input type = 'date' name = 'source_date'>
	</td>
	</tr>

	</table>
	</div>
	
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

</div>
{% endblock %}
