
{% extends "templates/base.html" %}
{% load static %}
{% block page_content %}

<div>
	<h2>
	Checking out source for extraction
	<div style="float:right">
		<button class="btn btn-primary" onclick="document.getElementById('id_extracts_form').submit();">
		Submit
		</button>
		<a class="btn btn-danger" href="{% url 'source_release' source.pk %}">
		Release
		</a>
	</div>
	</h2>
	
	<hr>

	<div id="id_source_viewer" style="display:inline-block; width:55%; margin-right:20px">
		
		<table id="id_source_info" style="width:100%">
			<tr>
				<td>Source ID: </td>
				<td>{{ source.pk }}</td>
			</tr>
			<tr>
				<td>Source Code: </td>
				<td>{{ source.source_code }}</td>
			</tr>
			<tr>
				<td>URL: </td>
				<td><a href="{{ source.source_url }}" target="_blank">{{ source.source_url }}</a></td>
			</tr>
		</table>
		
		<div id="id_source_html" style="overflow:scroll; border:solid black; margin-top:20px">
			{{ source_html }}
		</div>
		
	</div>

	<div id="id_extracts_viewer" style="display:inline-block; width:39%; vertical-align:top">

		<form id="id_extracts_form" action="{% url 'source_extraction' source.pk %}" method="post">
			
			{% csrf_token %}
			
			{{ formset.management_form }}
			
			<h3>Extracts ({{ formset.initial_form_count }})</h3>
			
			<div id="id_extracts_errors" style="color:red">
				{{ formset.non_form_errors }}
			</div>
			
			<div id="id_extracts_container" class="form-group">
				<table id="id_table_of_extracts">
					{% for form in formset %}
						<tr class="formsetform" style="vertical-align:top">
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
						{% for field in form.visible_fields %}
							<td><b>{{ field.label }}: </b></td>
							<td>{{ field }}</td>
						{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>
			
			<div style="text-align:center">
				<button id="id_add_form" class="btn btn-secondary">+</button>
			</div>
			
			<script>
				let form = document.querySelectorAll(".formsetform")
				let container = document.querySelector("#id_table_of_extracts")
				let addButton = document.querySelector("#id_add_form")
				//let addFormBefore = document.querySelector("#id_add_form_here")
				let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

				let formNum = form.length-1
				addButton.addEventListener('click', addForm)

				function addForm(e){
					e.preventDefault()

					let newForm = form[form.length-1].cloneNode(true)
					let formRegex = RegExp(`form-(\\d){1}-`,'g')

					formNum++
					newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
					//container.insertBefore(newForm, null); //, addFormBefore)
					container.appendChild(newForm);
					newTextArea = document.getElementById('id_form-'+formNum+'-text');
					newTextArea.textContent = '';
					
					totalForms.setAttribute('value', `${formNum+1}`)
				}
			</script>
			
		</form>

	</div>
</div>
{% endblock %}
