
{% extends "templates/base.html" %}
{% load static %}
{% block page_content %}

<div>
	<h2>Checking out source for extraction</h2>
	
	<hr>

	<div id="id_source_viewer" style="display:inline-block; width:55%; margin-right:20px">
		
		<table id="id_source_info" style="width:100%">
			<tr>
				<td>Source ID: </td>
				<td>{{ source.pk }}</td>
			</tr>
			<tr>
				<td>Source Code: </td>
				<td>{{ source.source_code }}</td>
			</tr>
			<tr>
				<td>URL: </td>
				<td><a href="{{ source.source_url }}" target="_blank">{{ source.source_url }}</a></td>
			</tr>
		</table>
		
		<div id="id_source_html" style="overflow:scroll; border:solid black; margin-top:20px">
			{{ source_html }}
		</div>
		
	</div>

	<div id="id_extracts_viewer" style="display:inline-block; width:39%; vertical-align:top">

		<form id="id_extracts_form" action="{% url 'source_extraction' source.pk %}" method="post">
			
			{% csrf_token %}
			
			<h3>Extracts:</h3>
			
			<div id="id_extracts_container" class="form-group">
				<table id="id_table_of_extracts">
					{{ formset.as_table }}
					<tr>
						<td></td>
						<td style="text-align:right"><button class="btn btn-secondary">Add Extract</button></td>
					</tr>
				</table>
			</div>
			
			<div id="">
				<input class="btn btn-primary" type="submit" value="Submit">
				<a class="btn btn-danger" href="{% url 'source_release' source.pk %}">Release</a>
			</div>
		</form>

	</div>
</div>
{% endblock %}
