
{% extends "templates/base.html" %}
{% load static %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

{% block page_content %}

<h2>
Source Extraction
</h2>


{% if cont %}
	<div style="width:100%">
		<p style="display:inline-block">
			You currently have a source checked out: 
			<a href="{% url 'source_checkout' pk=cont.pk %}" class="btn btn-primary" style="display:inline-block">
			Continue Now
			</a>
			or
			<a href="{% url 'source_release' pk=cont.pk %}" class="btn btn-warning" style="display:inline-block">
			Release
			</a>
		</p>
	</div>
	{% else %}
		<p>
		To extract information from a source, select a source from the list below:
		</p>
	{% endif %}

<div class="table-striped table-hover table-responsive">
  <table class="table">
	<thead>
	  <tr>
		<th>Source ID</th>
		<th>Code</th>
		<th>URL</th>
		<th>Extracts</th>
		<th>Action</th>
	  </tr>
	</thead>
	<tbody>
	{% for source in sources %}
		<tr>
			<td>{{ source.pk }}</td>
			<td>{{ source.source_code }}</td>
			<td>{{ source.source_url }}</td>
			<td>{{ source.extracts.count }}</td>
			<td>
			{% if source.current_user %}
				<a href="{% url 'source_checkout' pk=source.pk %}">
				<img height="40px" src="{{ source.current_user.socialaccount_set.all.0.get_avatar_url }}" style="border-radius:50%" title="{{ source.current_user.email|lower }}">
				</a>
			{% else %}
				{% if not cont %}
					<a href="{% url 'source_checkout' pk=source.pk %}" class="btn btn-secondary">
					Checkout
					</a>
				{% endif %}
			{% endif %}
			</td>
		</tr>
	{% endfor %}
	<tbody>
  </table>
</div>

{% endblock %}
