{% extends "templates/base.html" %}
{% load static %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

{% block page_content %}

<h2>
Parsing
</h2>

{% if cont %}
    <div style="width:100%">
        <p style="display:inline-block; width:74%">
            You already have an extract checked out: 
        </p>
        <p style="display:inline-block">
            <a href="{% url 'extract_checkout' pk=cont.pk %}" class="btn btn-primary" style="display:inline-block">
            Continue Now
            </a>
            or
            <a href="{% url 'extract_release' pk=cont.pk %}" class="btn btn-warning" style="display:inline-block">
            Release
            </a>
        </p>
    </div>
{% else %}
    <p>
    To parse activities, select an extracted event to checkout from the list below:
    </p>
{% endif %}

<div class="table-striped table-hover table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Extract ID</th>
        <th>Source ID</th>
        <th>Text</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    {% for extract in extracts %}
        <tr>
            <td>{{ extract.pk }}</td>
            <td>{{ extract.source_id }}</td>
            <td>{{ extract.text }}</td>
            <td>
            {% if extract.current_user %}
                <img height="40px" src="{{ extract.current_user.socialaccount_set.all.0.get_avatar_url }}" style="border-radius:50%" title="{{ extract.current_user.email|lower }}">
            {% else %}
                {% if not cont %}
                    <a href="{% url 'extract_checkout' pk=extract.pk %}" class="btn btn-secondary">
                    Checkout
                    </a>
                {% endif %}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tbody>
  </table>
</div>
{% endblock %}