
{% extends "templates/base.html" %}
{% load static %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

{% block page_content %}

<h2>
Activity Parsing
</h2>

<p>
To parse activities, select a source to checkout from the list below:
</p>
	
<div class="table-striped table-hover table-responsive">
  <table class="table">
	<thead>
	  <tr>
		<th>Source ID</th>
		<th>Source Code</th>
		<th>URL</th>
		<th>Added</th>
		<th>Action</th>
	  </tr>
	</thead>
	<tbody>
	{% for source in sources %}
		<tr>
			<td>{{ source.source_id }}</td>
			<td>{{ source.source_code }}</td>
			<td>{{ source.source_url }}</td>
			<td>{{ source.date_added }}</td>
			<td>
				<a href="{% url 'source_view' pk=source.pk %}" class="btn btn-secondary">
				Checkout
				</a>
			</td>
		</tr>
	{% endfor %}
	<tbody>
  </table>
</div>
  
{% endblock %}

