
{% extends "templates/base.html" %}
{% load static %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

{% block page_content %}

<h1>
SCOPE
</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
      aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats"
      aria-selected="false">Stats</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
	  <div class="row">
		<div class="col-md-8">
			<h5>About the Project</h5>
			<img src="{% static 'core/earth.jpg' %}" alt="" width="100%">
		</div>
		<div class="col-md-4">
			<h5>Description:</h5>
			<p>...</p>

			<br>
				
			<h5>Created:</h5>
			<p>...</p>

			<br>

			<h5>Deadline:</h5>
			<p>...</p>
			
			<br>

			<h5>Admin:</h5>
			<p>...</p>
			
			<br>
			
			<h5>SRAs:</h5>
			<p>...</p>
			
			<br>

			<h5>Users:</h5>
			<p>...</p>
			
		</div>
	  </div>
  </div>
  
  <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
	<h5>Stats</h5>
	Graphs and stats of recent activity, incl progress reports
  </div>
	
{% endblock %}
