
{% extends "templates/base.html" %}
{% load static %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

{% block page_content %}

<h2>
Parsing Module, Settings
	<div style="padding:15px; float:right"> 
	<a href="{% url 'sourcing' %}" class="btn btn-danger">
	X
	</a>
	</div>
</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item active">
    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general"
      aria-selected="true">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="datamodels-tab" data-toggle="tab" href="#datamodels" role="tab" aria-controls="datamodels"
      aria-selected="true">Import / Export</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
	
	<br>
	
	<p>
	Some general info about the module here... 
	</p>
	
  </div>

  <div class="tab-pane fade" id="datamodels" role="tabpanel" aria-labelledby="datamodels-tab">
  
	<br>
	
	<h4>
	Data models
	<div style="padding:15px; float:right"> 
		<a href="{% url 'parsing_import_from_data_folder' %}" class="btn btn-primary">
		Import From Data Folder
		</a>
	</div>
	</h4>
	
	<div class="table-striped table-hover table-responsive">
	  <table class="table">
		<thead>
		  <tr>
			<th>Name</th>
			<th>Count</th>
			<th>Action</th>
		  </tr>
		</thead>
		<tbody>
	    {% for datamodel in datamodels %}
			<tr>
				<td>{{ datamodel.get_class_name }}</td>
				<td>{{ datamodel.get_count }}</td>
				<td>
					<a href="{% url 'parsing_datamodel' name=datamodel.get_class_name %}" class="btn btn-secondary">
					View
					</a>
				</td>
			</tr>
		{% endfor %}
		<tbody>
	  </table>
	</div>
  </div>
  
</div>

{% endblock %}

