
{% extends "templates/base.html" %}
{% load static %}
{% block page_content %}

<form id="id_extracts_form" action="{% url 'source_extraction' source.pk %}" method="post">

{% csrf_token %}

{{ formset.management_form }}

<div>
	<h2>
	Checking out source for extraction
	<div style="float:right">
		<a class="btn btn-warning" href="{% url 'source_release' source.pk %}">
		Release
		</a>
		<button type="submit" class="btn btn-primary" name="finish" value="no">
		Save
		</button>
		<button type="submit" class="btn btn-primary" name="finish" value="yes">
		Finish
		</button>
	</div>
	</h2>

	<hr>

	<div id="id_source_viewer" style="width:100%">

		<h4>Source:</h4>

		<div style="display:inline-block; vertical-align:top; padding:10px">
			<img src="https://www.freeiconspng.com/thumbs/document-icon/document-icon-19.png" height="60px">
		</div>

		<table id="id_source_info" style="display:inline-block">
			<tr>
				<td>Source ID: </td>
				<td>{{ source.pk }}</td>
			</tr>
			<tr>
				<td>Source Code: </td>
				<td>{{ source.source_code }}</td>
			</tr>
			<tr>
				<td>URL: </td>
				<td><a href="{{ source.source_url }}" target="_blank">{{ source.source_url }}</a></td>
			</tr>
		</table>

	</div>

	<hr>

	<div id="id_extracts_viewer" style="width:100%; vertical-align:top">

			<h4>
			Extracts:
				<div style="float:right">
					<a class="btn btn-info" href="{% url 'source_autoassist' source.pk %}">
						Auto Assist
					</a>
				</div>
			</h4>

			<br>

			<div id="id_extracts_errors" style="color:red">
				{{ formset.non_form_errors }}
			</div>

			<div id="id_extracts_container" class="form-group">
				<table id="id_table_of_extracts" style="margin-left:2%; width:98%">
					{% for form in formset %}
						<tr class="formsetform" style="vertical-align:top">
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
						<td>
							<!---
							altern icons:	https://i.pinimg.com/564x/4d/fb/ea/4dfbea349c56053cd93c81fb31b21a70.jpg
							--->
							<img src="https://image.flaticon.com/icons/png/512/9/9381.png" height="35px">
						</td>
						{% for field in form.visible_fields %}
							<td><b>{{ field.label }}: </b></td>
							<td>{{ field }}</td>
						{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>

			<div style="text-align:center">
				<button id="id_add_form" class="btn btn-secondary">+</button>
			</div>

			<script>
				let form = document.querySelectorAll(".formsetform")
				let container = document.querySelector("#id_table_of_extracts")
				let addButton = document.querySelector("#id_add_form")
				//let addFormBefore = document.querySelector("#id_add_form_here")
				let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

				let formNum = form.length-1
				addButton.addEventListener('click', addForm)

				function addForm(e){
					e.preventDefault()

					let newForm = form[form.length-1].cloneNode(true)
					let formRegex = RegExp(`form-(\\d){1}-`,'g')

					formNum++
					newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
					//container.insertBefore(newForm, null); //, addFormBefore)
					container.appendChild(newForm);
					newTextArea = document.getElementById('id_form-'+formNum+'-text');
					newTextArea.textContent = '';

					totalForms.setAttribute('value', `${formNum+1}`)
				}
			</script>

	</div>
</div>

</form>

{% endblock %}
