
{% extends "templates/base.html" %}
{% load static %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

{% block page_content %}

<h2>
Extracting - Manual
</h2>


{% if messages %}
	{% for message in messages %}
		{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="alert alert-danger" style="width:100%">
				<p style="display:inline-block; width:100%">
				Error! {{ message }}
				</p>
			</div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
			<div class="alert alert-warning" style="width:100%">
				<p style="display:inline-block; width:100%">
				Warning: {{ message }}
				</p>
			</div>
		{% endif %}
	{% endfor %}
{% endif %}


{% if continue_source %}
	<div class="alert alert-primary" style="width:100%">
		<p style="display:inline-block; width:74%">
			You already have a source checked out: 
		</p>
		<p style="display:inline-block">
			<a href="{% url 'source_extraction' pk=continue_source.pk %}" class="btn btn-primary" style="display:inline-block">
			Continue Now
			</a>
			or
			<a href="{% url 'source_release' pk=continue_source.pk %}" class="btn btn-warning" style="display:inline-block">
			Release
			</a>
		</p>
	</div>
{% else %}
	<p>
	To extract information from a source, select a source from the list below:
	</p>
{% endif %}

<div class="table-striped table-hover table-responsive">
  <table class="table">
	<thead>
	  <tr>
		<th>Source ID</th>
		<th>Source Code</th>
		<th>URL</th>
		<th>Extracts</th>
		<th>Action</th>
	  </tr>
	</thead>
	<tbody>
	{% for source in sources %}
		<tr>
			<td>{{ source.pk }}</td>
			<td>{{ source.source_code }}</td>
			<td>{{ source.source_url }}</td>
			<td>{{ source.extracts.count }}</td>
			<td>
			{% if source.current_user %}
				<img height="40px" src="{{ source.current_user.socialaccount_set.all.0.get_avatar_url }}" style="border-radius:50%" title="{{ source.current_user.email|lower }}">
			{% else %}
				{% if not continue_source %}
					<a href="{% url 'source_checkout' pk=source.pk %}" class="btn btn-secondary">
					Checkout
					</a>
				{% endif %}
			{% endif %}
			</td>
		</tr>
	{% endfor %}
	<tbody>
  </table>
</div>

{% endblock %}
