.header {
  text-align: center;
  padding: 100px 0;

  color: #fff;
  font-weight: bold;
}

.title {
  padding-left: 10px;
}

/* NavBar */
.nav-title {
  font-weight: bold;
}

.nav-elements {
  margin-left: 50px;
  color: #fff;
}

.centerLogin {
  text-align: center;
}

.btn-logout {
  color: #ffffff;
  background-color: #7e8f9e;
  font-weight: lighter;
  position: absolute;
  right: 20px;
  width: 10%;
}

.footnote {
  width: 100%;
  height: 40px;
  bottom: 0;
  text-align: center;
  color: #c4c3c3;
  padding: 8px 0;
}

.headings {
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
}

.headings2 {
  text-align: left;
  font-weight: bold;
  padding-left: 100px;
}

.paragraphs {
  padding-left: 100px;
  padding-right: 100px;
}

.paragraphs_end {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.icon {
  padding-right: 10px;
}

.moduleLogin {
  color: #ffffff;
  background-color: #368AD8;
  font-weight: lighter;
  position: absolute;
  right: 20px;
  border-radius: 15%;
  height: 70%;
  background: linear-gradient(#368AD8, rgb(10 90 205/40%)) top/100% 800%;
  transition: 0.5s;
}

.moduleLogin:hover {
  background-position: bottom;
}