.headings3 {
    text-align: left;
    font-weight: bold;
    width:auto;
    display:inline-block;
}


.centerButtonAlign {
    text-align: center;
}

.centerButton {
    text-align: center;

    background-color: #368AD8;
}

.querySearch {
    width: 40%;
    float: right;
}

.querySelect {
    margin-right: 0;
    position:absolute;
}

.queryWrapper {
    width: 40%;
    margin: 0;
    padding-right: 0px;
}

.headerWrapper {
    text-align: left;
    font-weight: bold;
    width:auto;
    display:inline-block;
}

.topper {
    position: relative;
}

.customRowContainer{
    margin-left: 7%;
    width:92%;
}

.individualTable {
    padding-top: 2%;
}
